<div class="d-flex flex-column align-items-center w-100 sticky h-100">
  <ul class="d-flex flex-column justify-content-between w-100">
    <li class="d-block px-3 py-4 mb-1 border-bottom border-1 border-[#d1d0d0]" routerLink="admin/home">
      Home
    </li>
    <li class="d-block px-3 py-4 mb-2" routerLink="admin/roles">
      Roles
    </li>
    <li class="d-block px-3 py-4 mb-2" routerLink="admin/users">
      Users
    </li>
    <li class="d-block px-3 py-4 mb-2" routerLink="admin/categories">
      Categories
    </li>
    <li class="d-block px-3 py-4 mb-2" routerLink="admin/products">
      Products
    </li>
    <li class="d-block px-3 py-4 mb-2" routerLink="admin/orders">
      Orders
    </li>
  </ul>
</div>
