$gray-red-palette: (
  50: #f8f7f7,
  100: #efeeee,
  200: #e3e2e2,
  300: #d1d0d0,
  400: #acabab,
  500: #8b8a8a,
  600: #646363,
  700: #515050,
  800: #333232,
  900: #131212,
  A100: #edc1c4,
  A200: #d18885,
  A400: #bc3a33,
  A700: #9c1313,
  contrast: (
    50: #f8e6e8,
    100: #edc1c4,
    200: #d18885,
    300: #bb5c58,
    400: #bc3a33,
    500: #b92617,
    600: #ac1c17,
    700: #9c1313,
    800: #8f0b0c,
    900: #800000,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);
