$text-primary: #f8f7f7;
$text-light: #efeeee;
$text-light-2: #f8e6e8;
$white-accent: #e3e2e2;
$primary-light: #d1d0d0;
$primary-light-2: #acabab;
$text-hint: #8b8a8a;
$primary-dark-2: #646363;
$primary-dark: #515050;
$primary: #131212FF;
$black: #131212;
$accent-light-2: #d18885;
$accent-bg: #bc3a33;
$accent-text:#b92617;
$accent: #9c1313;
$accent-dark: #8f0b0c;
$accent-dark-2: #800000;


