/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #4d4d4d;
  --accent: #800000;
  --warn: #F44336;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

.layout{
  height: 100%;
  background: var(--primary);
}

/* Добавьте стили для конкретного компонента */
mat-card {
  background-color: #f0f0f0;
  border-radius: 8px;
}
