@import '../src/assets/style-config';

// Использование темной темы
$enable-dark: true;

:root{
  color: $primary-light;
  $primary: $primary;
  $accent: $accent;
}

$accent-text: $white-accent;
$primary-text: $black;

html, body { height: 100%; background: $primary; color: $accent-text;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

//Backgrounds
.layout{
  height: 100%;
  background: $primary;
}
.gradient-bg{
  background: $black;
  background: linear-gradient(0deg, #131212FF 36%, #4F4C4CFF 100%);
}

.gradient-rad-bg{
  background: $black;
  background: linear-gradient(204deg, #131212FF 36%, #4F4C4CFF 100%);
}

//Buttons
app-button .mdc-button.btn.mat-primary {
  color: $white-accent;
  padding: 10px 15px 5px 15px;
  background: #8f0b0c;
}
app-button .mdc-button.btn.mat-accent {
  color: $white-accent;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid $accent;
  background: none;
}

/* Добавьте стили для конкретного компонента */
mat-card {
  background-color: #f0f0f0;
  border-radius: 8px;
}

//Table
table .mat-mdc-header-row, table .mat-mdc-row{
  color: $white-accent
}
